[Ardoq]
# ardoq host
host = https://[YOUR ORG].ardoq.com
# access token you get from ardoq
# token = 2bcjshdsdsd......
token = [YOUR API TOKEN]
# organisation to use
# this param is deprecated. Org name is now part of the hostname
# org = ardoq

[Archimate]
# language to import for labels and descriptions
#exchange_file=../resources/opengroupArchisurance.xml
exchange_file=../resources/archiArchisurance.xml
lang=en
